@import '../../styles/variables.scss';

main.page {
  .post-item-page {
    .picture {
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-around;

      img {
        border-radius: 20px;
        box-shadow: 4px 4px 6px 4px rgba(135, 173, 250, 0.25);
        max-width: 70%;
      }
    }

    .description {
      margin-bottom: 2rem;
      color: $text-color;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .back-link {
      color: #fff;
      text-decoration: none;
      font-size: 1.2rem;
      line-height: 2rem;

      &::before {
        content: '<';
        font-size: 1.4rem;
        color: #fff;
        margin-right: 0.5rem;
        font-weight: bold;
      }
    }
  }
}