@import "../../styles/variables.scss";

nav.main {
  display: flex;
  justify-content: space-between;
  margin: 2rem;  
  
  a {
    color: $title-color;
    text-decoration: none;
    text-align: center;
    width: 100%;

    &:hover {
      transform: scale(0.9);
    }

    // &.active {
    //   box-shadow: 
    // }

    @include breakpoint-small {
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
    }
  }
}