@import '../../styles/variables.scss';

main.page {
  .add-post-button-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    // user-friendly
    position: sticky;
    bottom: 0;

    button {
      color: $title-color;
      border: none;
      font-size: 15px;
      padding: 1rem 2rem;
      cursor: pointer;
      box-shadow: 2px 2px 20px rgba(135, 173, 250, 0.25);
      border-radius: 20px;
      background-color: $background-color;

      &:hover {
        transform: scale(0.9);
      }
    }
  }
}