@import '../../styles/variables.scss';

main.page {
  .add-post-button-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    // user-friendly
    position: sticky;
    bottom: 0;
  

    button {
      border: none;
      background-color: $primary-color;
      color: #fff;
      font-size: 18px;
      padding: 1rem 2rem;
      cursor: pointer;
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
      border-radius: 30px;

      &:hover {
        background-color: $success-color;
      }
    }
  }
}