@import '../../styles/variables.scss';

main.page {
  .about-us-page {
    aside {
      a {
        display: block;
        color: $title-color;
        text-decoration: none;
        font-size: 1rem;
        margin-top: 2rem;
        padding: 1rem;

        &:first-child {
          border-top: none;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    @include breakpoint-small {
      display: flex;
      align-items: flex-start;

      article {
        flex: 1;
      }

      aside {
        width: 200px;
        margin-left: 4rem;
        margin-top: 0;
      }
    }
  }
}