// $primary: green;

// @mixin button-style($color, $padding) {
//   border: solid $primary 5px;
//   color: $color;
//   font-weight: bold;
//   padding: $padding;
//   font-size: 30px;

//   &:hover {
//     color: yellow;
//     @content;
//   }
// }
$title-font: 'Lobster', cursive;
$body-font: 'Roboto', sans-serif;

$primary-color: #008080;
$secondary-color: #64646E;
$text-color: #34343a;
$gray-color: #9e9ea4;
$background-color: #e1e1e9;
$border-color: #c2c2c6;
$success-color: #0dc729;
$danger-color: #cd2424;
