// EVERY variables for scss 
// $title-font: 'Lobster', cursive;
$body-font: "Inconsolata", monospace;


$title-color: #c3c3c3;
// $primary-color: #3e497a;
$secondary-color: #62626c;
// $border-color: #9e9ea4;
$background-color: hsl(0, 0%, 5%);
$success-color: #67c776;
$danger-color: #bf4f4f;

@mixin breakpoint($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}

@mixin breakpoint-small {
  @include breakpoint(600px) {
    @content;
  }
}

@mixin breakpoint-large {
  @include breakpoint(1200px) {
    @content;
  }
}