@import './../../../styles/variables.scss';

.post-component {
  border: solid 1px $border-color;
  background-color: white;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  box-sizing: border-box;

  @include breakpoint-small {
    width: calc(50% - 2rem);
    margin-right: 2rem;
  }

  @include breakpoint-large {
    width: calc(33.33% - 2rem);
  }
}