@import './../../../styles/variables.scss';

.post-component {
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;

  &:hover {
    transform: scale(0.95);
  }

  @include breakpoint-small {
    width: calc(50% - 2rem);
    margin-right: 2rem;
  }

  @include breakpoint-large {
    width: calc(33.33% - 2rem);
  }

  h3 {
    margin: 0 0 1rem 0;
    font-family: $body-font;
    font-size: 28px;
    font-weight: normal;
    color: $title-color;
  }

  .description {
    display: flex;
    align-items: flex-start;

    img {
      max-width: 120px;
      margin-right: 15px;
      margin-bottom: auto;
    }

    span {
      color: $title-color;
      line-height: 1.4rem;
    }
  }

  .info {
    display: flex;
    flex-wrap: wrap;

    div {
      font-size: 0.8rem;
      color: $title-color;
      margin: 1.5rem 1.5rem 0 0;

      strong {
        display: block;
        color: $title-color;
        font-size: 1rem;
      }

      &.promote-yes strong {
        color: $success-color;
      }

      &.promote-no strong {
        color: $danger-color;
      }
    }
  }

  .rate {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    button {
      border: none;
      font-size: 1rem;
      display: flex;
      align-items: center;
      padding: 7px 15px;
      cursor: pointer;
      color: $title-color;

      svg {
        margin-right: 0.5rem;
        font-size: 1.5rem;
      }

      &.like {
        background-color: rgba(69, 69, 69, 0.492);
        border-radius: 20px 0 0 20px;

        &:hover {
          background-color: rgb(0, 0, 0);
          background-color: rgba(61, 61, 61, 0.4);
          box-shadow: 2px 2px 20px rgba(135, 173, 250, 0.25);
        }

        svg {
          color: $success-color;
        }
      }

      &.dislike {
        background-color: rgba(69, 69, 69, 0.492);
        border-radius: 0px 20px 20px 0;

        &:hover {
          background-color: rgb(0, 0, 0);
          background-color: rgba(61, 61, 61, 0.4);
          box-shadow: 2px 2px 20px rgba(135, 173, 250, 0.25);
        }

        svg {
          color: $danger-color;
        }
      }
    }
  }

  .rate-single-button {
    button {
      &.like {
        border-right: none;
        border-radius: 20px;
      }

      &.dislike {
        border-radius: 20px;
      }
    }
  }

  .remove {
    display: flex;
    justify-content: right;

    .delete {
      color: $title-color;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 20px;
      padding: 7px 15px;
      margin-top: 2rem;
      margin-bottom: 1rem;
      background-color: rgba(69, 69, 69, 0.492);
    }
  }
}