@import '../../styles/variables.scss';

footer.main {
  padding: 1rem;
  text-align: center;
  font-family: $body-font;
  margin: 2rem;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(135, 173, 250, 0.25);
  background-color: rgb(0,0,0);
  background-color: rgba(56, 58, 69, 0.4);
}