@import '../../styles/variables.scss';

.settings-component {
  .field {
    padding-top: 0.5rem;

    label {
      display: flex;
      align-items: center;
      color: $title-color;
      line-height: 1.2rem;
      margin: 1rem;

      input[type="checkbox"] {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.5rem;
      }
    }
  }
}